@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Rubik:wght@300;400;500&display=swap');

:root {
  --subtitle-color: #fff;
  --text-color: #d0d6f9;
}

body {
  max-width: 100%;
  min-height: 100vh;
  background: url('../assets/home/background-home-mobile.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  font: 400 1rem 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 2.7px;
  margin-top: 32px;
}

h2 {
  font: 400 5rem 'Bellefair', sans-serif;
  text-transform: uppercase;
  color: var(--subtitle-color);
  text-align: center;
  margin: 16px;
}

.text {
  margin: 0 auto;
  max-width: 444px;
  margin-bottom: 60px;
}

p {
  font: 400 0.9rem 'Barlow', sans-serif;
  color: var(--text-color);
  line-height: 25px;
  text-align: center;
  margin: 16px 24px;
}

.circle {
  position: relative;
  background: #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #97979736;
  border-radius: 50%;
  z-index: -1;
  transition: 1s;
}
.circle:hover::before {
  transform: scale(1.7, 1.7);
}

.circle span {
  font: 400 1.25rem 'Bellefair', sans-serif;
  color: #000;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  body {
    max-width: 100%;
    min-height: 100vh;
    background: url('../assets/home/background-home-tablet.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  main {
    margin-top: 106px;
  }

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 9.375rem;
  }

  p {
    font-size: 1rem;
  }

  .circle {
    width: 200px;
    height: 200px;
    margin-bottom: 24px;
  }

  .circle:hover::before {
    transform: scale(1.5, 1.5);
  }
}

@media (min-width: 1000px) {
  body {
    min-width: 100vw;
    min-height: 100vh;
    background: url('../assets/home/background-home-desktop.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  main {
    margin-top: 200px;
  }

  h1 {
    font-size: 1.75rem;
    letter-spacing: 4.725px;
    line-height: 34px;
  }

  p {
    font-size: 1.125rem;
    line-height: 32px;
    text-align: left;
  }

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 50px;
    transition: 0.3s;
  }

  .circle {
    width: 270px;
    height: 270px;
    margin-left: auto;
    margin-bottom: 70px;
  }

  .circle span {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

@media (min-width: 1200px) {
  body {
    min-width: 100vw;
    min-height: 100vh;
    background: url('../assets/home/background-home-desktop.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 165px;
    transition: 0.3s;
  }
}
