@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Rubik:wght@300;400;500&display=swap');

:root {
  --subtitle-color: #fff;
  --text-color: #d0d6f9;
}

body {
  background: url('../assets/technology/background-technology-mobile.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img .mobile {
  display: block;
  margin: 34px auto;
}

.img .desktop {
  display: none;
}

.img img {
  max-width: 500px;
  min-height: 170px;
}

.swap {
  margin-bottom: 26px;
  display: flex;
}

.swap-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border: 1px solid;
  color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
}

.swap-style:hover {
  opacity: 1;
}

.active-swap {
  background: #fff;
  opacity: 1;
}

.swap-style a {
  font: 500 1rem 'Bellefair', sans-serif;
  color: var(--subtitle-color);
}

.active-swap a {
  color: #0b0d17;
}

.description {
  width: 327px;
  margin-bottom: 32px;
}

.description h2 {
  font: 400 0.875rem 'Barlow Condensed', sans-serif;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 2.36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.name {
  font: 400 1.5rem 'Bellefair', sans-serif;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--subtitle-color);
}

.desc {
  font: 400 0.9375 'Barlow', sans-serif;
  color: var(--text-color);
  line-height: 25px;
  font-style: normal;
}

@media (min-width: 500px) {
  body {
    max-width: 100%;
    min-height: 100vh;
    background: url('../assets/technology/background-technology-tablet.jpg');
    background-size: cover;
    background-position: center;
  }
  .img img {
    min-width: 100vw;
    height: 100%;
  }

  .swap-style {
    width: 60px;
    height: 60px;
  }

  .swap-style a {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
    letter-spacing: 2.7px;
    line-height: 19px;
  }

  .description {
    width: 458px;
  }

  .name {
    font-size: 2.5rem;
    line-height: 46px;
  }

  .desc {
    font-size: 1rem;
    line-height: 28px;
  }
}

@media (min-width: 1000px) {
  body {
    background: url('../assets//technology/background-technology-desktop.jpg');
    background-size: cover;
    background-position: center;
  }

  main {
    max-width: 100vw;
  }

  .technology-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .img .mobile {
    display: none;
  }

  .img .desktop {
    display: block;
    margin-right: 0;
    max-width: 400px;
    height: 400px;
  }

  .img img {
    min-width: 100%;
  }

  .desc-container {
    flex-direction: row;
    margin-left: 60px;
  }

  .swap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    margin-right: 40px;
  }

  .description {
    width: 470px;
    text-align: left;
  }

  .name {
    font-size: 3.5rem;
    line-height: 64px;
  }

  .desc {
    font-size: 1.125rem;
    line-height: 32px;
  }
}

@media (min-width: 1200px) {
  .img .desktop {
    margin-right: 90px;
    width: 600px;
    height: 500px;
  }
  .desc-container {
    margin-left: 120px;
  }
  .swap {
    margin-right: 60px;
  }
  .swap-style {
    width: 70px;
    height: 70px;
  }
}
