@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Rubik:wght@300;400;500&display=swap');

:root {
  --subtitle-color: #fff;
  --text-color: #d0d6f9;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url(../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  color: #fff;
}

main {
  max-width: 100vw;
  text-align: center;
  overflow-x: hidden;
}
h1 {
  font-family: 'Barlow condensed', sans-serif;
  font-size: 19px;
  color: var(--subtitle-color);
  letter-spacing: 2.7px;
  text-transform: uppercase;
  margin: 24px auto;
  text-align: center;
}
h1 span {
  color: #d0d6f980;
  margin: 0 20px;
}

.destination-container {
  padding: 2rem;
  max-width: 100%;
}

.img figure {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img img {
  width: 100%;
}

.destinations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
  padding: 15px 24px;
}

.active {
  position: relative;
}

.active a {
  color: var(--subtitle-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: var(--subtitle-color);
}

.destinations a {
  padding: 10px 0;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: 'Barlow-condesed', sans-serif;
  cursor: pointer;
}

.name h2 {
  font-family: 'bellefair', sans-serif;
  font-weight: 500;
  font-size: 56px;
  text-transform: uppercase;
}

.description {
  padding-bottom: 32px;
  border-bottom: 1px solid #97979778;
}

.description p {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: var(--text-color);
}

.distance {
  margin: 32px 0;
}

.distance span {
  font-family: 'Barlow-condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--text-color);
}

.distance p {
  margin-top: 12px;
  margin-bottom: 32px;
  font-family: 'Bellefair', sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}
